*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myH1{
    margin: 20px;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
#buttons{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 400px;
    gap: 7px;
    padding: 10px;
    min-height: 300px;
}
.box{
    color: black;
    transition: transform .2s;
    font-size: 3em;
    width: 120px;
    height: 120px;
    border-color: black;
    background-color:lightgreen;
    border-radius: 20px;
    cursor: pointer;
}
.box:hover{
    transform: scale(1.13); 
}
#win{
    color: red;
    font-size: 2em;
    display: flex;
    justify-content: center;

}
#nigger{
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset{
    font-size: 1.5em;
    border: none;
    background-color: lightblue;
    cursor: pointer;
}
#reset:hover{
    color: blue;
}
